In [28]:
import pandas as pd

file = r'C:\Users\BXDM\Desktop\a.txt'
data = pd.read_csv(file, sep = '\s+')

data

    H  M   A     P
0  AA  y  20  0.40
1  AA  m  60  0.30
2  AA  t  20  0.35
3  BB  n  80  0.50
4  BB  k  20  0.60

In [29]:
hh = data['H'].drop_duplicates()
hh.index = range(len(hh))
data[data['H'] == hh[0]]

    H  M   A     P
0  AA  y  20  0.40
1  AA  m  60  0.30
2  AA  t  20  0.35

In [30]:
#  Allocation sum
for i in range(len(hh)):
#     print(data[data['H'] == hh[i]])
#     print(data[data['H'] == hh[i]].A.sum())
    print(hh[i], data[data['H'] == hh[i]].A.sum())

AA 100
BB 100

In [47]:
# average

for i in range(len(hh)):
    alloc = data[data['H'] == hh[i]].A
    price = data[data['H'] == hh[i]].P
    ave = alloc * price /100
    # print(ave)
    print(hh[i], ave.sum())

AA 0.33
BB 0.52

In [48]:
alloc

3    80
4    20
Name: A, dtype: int64