mysql 内核的安装方法 <https://pypi.org/project/mysql-kernel/>

In [34]:
mysql://root:agsj2735@localhost;

In [42]:
show tables;

,Tables_in_password
0,web

In [44]:
show tables;

,Tables_in_contact
0,contact

In [60]:
select * from contact;

,id,name,tel,qq,wechat,relation,date
0,1,小松鼠,None,None,None,,2019-11-09 21:35:07

In [71]:
update contact set tel = '17374835545',  qq = '1161495698', relation = 'me';

In [70]:
-- 查看表结构
desc contact;

,Field,Type,Null,Key,Default,Extra
0,id,int,NO,PRI,None,auto_increment
1,name,varchar(255),YES,,None,
2,tel,varchar(11),YES,,None,
3,qq,varchar(20),YES,,None,
4,wechat,varchar(255),YES,,None,
5,relation,varchar(255),YES,,None,
6,date,datetime,YES,,None,on update CURRENT_TIMESTAMP

In [68]:
alter table contact modify column tel varchar(11);

In [51]:
alter table contact modify column qq varchar(20);