## 主要读取的数据格式
- 变量
- txt 格斯
- Excel
- csv
- Json

### 1. R 命令输入数据

In [8]:
salary <- c(18700000, 14626720, 14137500, 13980000, 12916666)
position <- c("QB", "QB", "DE", "QB", "QB")
team <- c("colts", "patriots", "Panthers", "bengals", "Giants")
name.last <- c("Manning", "Brady", "Pepper", "Palmer", "Manning")
name.first <- c("Peyton", "Tom", "Julius", "Carson", "Eli")

In [10]:
top.5.salaries  <- data.frame(name.last, name.first, team, position, salary)
top.5.salaries

  name.last name.first team     position salary
1 Manning   Peyton     colts    QB       18700000
2 Brady     Tom        patriots QB       14626720
3 Pepper    Julius     Panthers DE       14137500
4 Palmer    Carson     bengals  QB       13980000
5 Manning   Eli        Giants   QB       12916666

In [17]:
# 将数据保存到外部文件
save(top.5.salaries, file = "top.5.salaries.RData")

In [1]:
salaries <- load("top.5.salaries.RData")
salaries

[1] "top.5.salaries"

### 2. 读取 txt 数据

In [13]:
data <- read.table(file)

In [14]:
data

   V1  V2
1    1 93
2   30 96
3   60 84
4   90 84
5  120 48
6  150 38
7  180 51
8  210 57
9  240 40
10 270 45
11 300 50
12 330 75
13 360 80
14 390 60
15 420 72
16 450 67
17 480 71
18 510  7
19 540 74
20 570 63
21 600 69