In [ ]:
# python 自动分allocation

In [1]:
import pandas as pd

In [3]:
file = r'C:\Users\BXDM\Desktop\a.txt'
data = pd.read_csv(file, sep = '\s+')

In [6]:
data

    H  M   A     P
0  AA  y  20  0.40
1  AA  m  60  0.30
2  AA  t  20  0.35
3  BB  n  80  0.50
4  BB  k  20  0.60

In [12]:
hh = data['H'].drop_duplicates()
hh.index = range(len(hh))

0    AA
1    BB
Name: H, dtype: object

In [17]:
for i in range(len(data)):
    print(data.H[i], data.A[i])

AA 20
AA 60
AA 20
BB 80
BB 20

In [28]:
a = data.groupby('H')
t = a['A'].sum()    
t

H
AA    100
BB    100
Name: A, dtype: int64