In [ ]:
# 参考文献：book 《Python for data analysis》，page:123-128

In [72]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [73]:
obj = pd.Series([4, 7, -5, 3])

In [6]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.values

array([ 4,  7, -5,  3])

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
# 手动创建 series
obj2 = pd.Series([4, 7, -5, 3],index=['d','b','a','c'])
# pd.Series([数组],[索引])  ，圆括号在外面

In [15]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [17]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [18]:
obj2['a']  # 根据索引取值

-5

In [20]:
obj2[['a','c','d']]

a   -5
c    3
d    4
dtype: int64

In [22]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [24]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [27]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [29]:
'b' in obj2

True

In [31]:
'e' in obj2

False

In [61]:
sdata={'Ohio':35000,'Texas':71000,'Oregen':16000,'Utah':5000}

In [35]:
obj3 = pd.Series(sdata)
# 从字典导入：obj3 = pd.Series(字典名称)

In [37]:
obj3

Ohio       3500
Texas     71000
Oregen    16000
Utah       5000
dtype: int64

In [39]:
obj3.index
# 自动把字典的 key 作为索引

Index(['Ohio', 'Texas', 'Oregen', 'Utah'], dtype='object')

In [42]:
states = ['California','Ohio','Oregen','Texas']

In [44]:
obj4 = pd.Series(sdata,index=states)

In [47]:
obj4
# 找到的都显示了出来，找不到的提示 NaN :not a number

California        NaN
Ohio           3500.0
Oregen        16000.0
Texas         71000.0
dtype: float64

In [49]:
pd.isnull(obj4)
# 判断数据是否缺失

California     True
Ohio          False
Oregen        False
Texas         False
dtype: bool

In [52]:
pd.notnull(obj4)
# 使用 pandas 方法

California    False
Ohio           True
Oregen         True
Texas          True
dtype: bool

In [55]:
obj4.isnull()
# 序列也有这个方法

California     True
Ohio          False
Oregen        False
Texas         False
dtype: bool

In [57]:
obj3

Ohio       3500
Texas     71000
Oregen    16000
Utah       5000
dtype: int64

In [59]:
obj4

California        NaN
Ohio           3500.0
Oregen        16000.0
Texas         71000.0
dtype: float64

In [62]:
obj3 + obj4

California         NaN
Ohio            7000.0
Oregen         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [64]:
obj4.name = 'population'
# series的值和索引都有名称属性

In [66]:
obj4.index.name = 'state'

In [67]:
obj4

state
California        NaN
Ohio           3500.0
Oregen        16000.0
Texas         71000.0
Name: population, dtype: float64

In [68]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [70]:
obj.index = ['Bob','Steve','Jeff','Ryan']
# 修改索引名称

In [71]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64