## 读取 **csv** **txt** 文件

In [2]:
import pandas as pd

read_csv() 方法可以读取 txt文件、csv文件

In [18]:
cd ..

F:\Python\Notebook\Python数据分析

In [34]:
df = pd.read_csv('examples/ex1.csv')

In [35]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [36]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [39]:
type examples\ex2.csv

SyntaxError: invalid syntax (<ipython-input-39-867d3e50d001>, line 1)

In [40]:
pd.read_csv('examples/ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [41]:
pd.read_csv('examples/ex2.csv', names=['a','b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [42]:
names = ['a','b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names = names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

## 读取数据存入到字典

- 读取 Excel 数据安装 xlrd 和 openpyxl 库

In [16]:
import pandas as pd

In [19]:
ls /b

.ipynb_checkpoints
20200409131943甘特图.html
examples
FourierTransform.ipynb
ipython_script_test.py
Jupyter使用教程.ipynb
Matplotlib.ipynb
mydata.sqlite
numpy基础.ipynb
Openpyxl.ipynb
Pandas_DataFrame.ipynb
Pandas_Series.ipynb
Pandas绘图和可视化.ipynb
pandas数据存取.ipynb
Pandas数据清洗和预处理.ipynb
Python数据分析基础
science.ipynb
text.xlsx
Untitled.ipynb
时间序列.ipynb
项目工程进度甘特图.xlsx

In [43]:
file = pd.ExcelFile('项目工程进度甘特图.xlsx')
df = pd.read_excel(file, 'Sheet1')

In [28]:
df

              步骤阶段       开始时间  持续天数     预计完成时间
0           撰写开题报告 2020-02-24    15 2020-03-10
1    复习相关知识，撰写1-2章 2020-03-16    15 2020-03-31
2      熟悉资料，撰写3-4章 2020-04-06    10 2020-04-16
3      绘制图件，撰写4-5章 2020-04-20    20 2020-05-10
4  撰写结论、摘要并完成论文的修改 2020-05-18    10 2020-05-28
5   参加答辩并按修改建议进行修改 2020-06-01    10 2020-06-11

In [29]:
df.iloc[0]

步骤阶段                   撰写开题报告
开始时间      2020-02-24 00:00:00
持续天数                       15
预计完成时间    2020-03-10 00:00:00
Name: 0, dtype: object

In [30]:
task = df['步骤阶段']
start = df['开始时间']
finish = df['预计完成时间']

In [23]:
df.dict = {}
df_list = []
for i in range(6):
    df_line = dict(Task = task.values[i],Start = start.values[i], Finish = finish.values[i])
    df_list.append(df_line)
data = df_list
data

<ipython-input-23-f5629008719b>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.dict = {}

NameError: name 'task' is not defined

In [31]:
task.values[1]

'复习相关知识，撰写1-2章'

In [32]:
from datetime import datetime as dt
time = dt.now().strftime('%Y%m%d%H%M%S')
time

'20200528193646'

In [44]:
import plotly.figure_factory as ff
fig = ff.create_gantt(data)
fig.show()

NameError: name 'data' is not defined

In [ ]:
import pandas as pd
xlsx = pd.ExcelFile('项目工程进度甘特图.xlsx')
df = pd.read_excel(xlsx, 'Sheet1')
df = df.drop('持续天数', axis = 1)
df = df.rename(columns = {'步骤阶段':'Task', '开始时间':'Start', '预计完成时间':'Finish'})
df

参考资料：<https://plotly.com/python/gantt/>

In [45]:
import plotly.figure_factory as ff
fig = ff.create_gantt(df)
fig.show()

PlotlyError: The columns in your dataframe must include the following keys: Task, Start, Finish

In [46]:
new = [100, 95, 85, 70, 60, 0]

参考资料：<https://blog.csdn.net/luoganttcc/article/details/77570024>

rgb 颜色对照表 <https://tool.oschina.net/commons?type=3>

In [47]:
# 插入一列
df['Complete'] = new
# 重新绘制
import plotly.figure_factory as ff
fig = ff.create_gantt(df,
                      colors = ['rgb(255, 165, 0)', 'rgb(255, 0, 0)'], # 设置颜色
                      index_col='Complete', show_colorbar=True)
fig.show()

PlotlyError: The columns in your dataframe must include the following keys: Task, Start, Finish

In [48]:
df

              步骤阶段       开始时间  持续天数     预计完成时间  Complete
0           撰写开题报告 2020-02-24    15 2020-03-10       100
1    复习相关知识，撰写1-2章 2020-03-16    15 2020-03-31        95
2      熟悉资料，撰写3-4章 2020-04-06    10 2020-04-16        85
3      绘制图件，撰写4-5章 2020-04-20    20 2020-05-10        70
4  撰写结论、摘要并完成论文的修改 2020-05-18    10 2020-05-28        60
5   参加答辩并按修改建议进行修改 2020-06-01    10 2020-06-11         0

In [49]:
len(df.index)

6