《Python 数据分析基础第二版》 P328

In [6]:
import pandas as pd
import numpy  as np
from matplotlib.mlab import PCA as mlabPCA

ImportError: cannot import name 'PCA' from 'matplotlib.mlab' (c:\users\bxdm\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mlab.py)

In [2]:
file = r"F:\Python\Notebook\Python数据分析\Python数据分析基础\ch12\live.csv"

In [4]:
live = pd.read_csv(file, encoding = "gb2312")

In [5]:
live.head()

,District,GDP,Income,Consumption,Employment,Education,Health,Life
0,北京,45444,17652.95,13244.20,0.3937,584.43,1295.76,76.10
1,山西,12495,8913.91,6342.63,0.2554,548.83,538.70,71.65
2,内蒙古,16331,9136.79,6928.60,0.2158,504.77,533.36,69.87
3,吉林,13348,8690.62,6794.71,0.1836,502.08,675.77,73.10
4,黑龙江,14434,8272.51,6178.01,0.2418,479.85,613.15,72.37

In [13]:
x = live.iloc[:,1 :8]
# 去除第一列省名， 留下 7 个变量

In [16]:
x.head()

     GDP    Income  Consumption  Employment  Education   Health   Life
0  45444  17652.95     13244.20      0.3937     584.43  1295.76  76.10
1  12495   8913.91      6342.63      0.2554     548.83   538.70  71.65
2  16331   9136.79      6928.60      0.2158     504.77   533.36  69.87
3  13348   8690.62      6794.71      0.1836     502.08   675.77  73.10
4  14434   8272.51      6178.01      0.2418     479.85   613.15  72.37