# 第十章

## 一、手工聚合

### 1.手工聚合

In [1]:
# rows    (axis = 0)
# columns (axis = 1)

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                   'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1':np.random.randn(5),
                  'data2':np.random.randn(5)})

In [7]:
df

  key1 key2     data1     data2
0    a  one  0.332920 -0.125325
1    a  two -1.230555  0.386260
2    b  one  0.373772  0.257589
3    b  two -0.091842  1.116247
4    a  one -1.717384 -1.178575

In [8]:
grouped = df['data1'].groupby(df['key1'])

In [11]:
# 返回的是 grouped 对象
grouped

In [10]:
grouped.mean()

key1
a   -0.871673
b    0.140965
Name: data1, dtype: float64

In [13]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [14]:
means

key1  key2
a     one    -0.692232
      two    -1.230555
b     one     0.373772
      two    -0.091842
Name: data1, dtype: float64

In [15]:
means.unstack()

key2       one       two
key1
a    -0.692232 -1.230555
b     0.373772 -0.091842

In [16]:
states = np.array(['Ohio', 'California', 'Californa', 'Ohio', 'Ohio'])

In [17]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [18]:
df['data1'].groupby([states, years]).mean()

Californa   2006    0.373772
California  2005   -1.230555
Ohio        2005    0.120539
            2006   -1.717384
Name: data1, dtype: float64

In [19]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.871673 -0.305880
b     0.140965  0.686918

In [20]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

### 2.遍历 group

In [21]:
for name, group in df. groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  0.332920 -0.125325
1    a  two -1.230555  0.386260
4    a  one -1.717384 -1.178575
b
  key1 key2     data1     data2
2    b  one  0.373772  0.257589
3    b  two -0.091842  1.116247

In [23]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print(k1, k2)
    print(group)

a one
  key1 key2     data1     data2
0    a  one  0.332920 -0.125325
4    a  one -1.717384 -1.178575
a two
  key1 key2     data1    data2
1    a  two -1.230555  0.38626
b one
  key1 key2     data1     data2
2    b  one  0.373772  0.257589
b two
  key1 key2     data1     data2
3    b  two -0.091842  1.116247

In [25]:
pieces = dict(list(df.groupby('key1')))

In [27]:
pieces['b']

  key1 key2     data1     data2
2    b  one  0.373772  0.257589
3    b  two -0.091842  1.116247

In [29]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [30]:
grouped = df.groupby(df.dtypes, axis = 1)

In [32]:
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0  0.332920 -0.125325
1 -1.230555  0.386260
2  0.373772  0.257589
3 -0.091842  1.116247
4 -1.717384 -1.178575
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

### 3.选取列或者子集

In [34]:
df.groupby('key1')['data1']
df.groupby('key2')[['data2']]

In [36]:
df.groupby(['key1', 'key2'])[['data2']].mean()

              data2
key1 key2
a    one  -0.651950
     two   0.386260
b    one   0.257589
     two   1.116247

In [37]:
s_grouped = df.groupby(['key1', 'key2'])['data2']

In [38]:
s_grouped

In [39]:
s_grouped.mean()

key1  key2
a     one    -0.651950
      two     0.386260
b     one     0.257589
      two     1.116247
Name: data2, dtype: float64

### 4.使用字典和索引聚合

## 二、数据聚合

## 三、应用

## 四、数据透视表