In [14]:
import pandas as pd
import numpy as np

In [15]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [18]:
df = pd.DataFrame(matrix, columns = list('xyz'), index = list('abc'))
df

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9

In [20]:
# 遍历每一个元素
df.apply(np.square)

    x   y   z
a   1   4   9
b  16  25  36
c  49  64  81

In [21]:
df.apply(lambda x:np.square(x) if x.name == 'x' else x)

    x  y  z
a   1  2  3
b  16  5  6
c  49  8  9

In [31]:
df.name

AttributeError: 'DataFrame' object has no attribute 'name'