In [19]:
import yfinance as yf
import pandas as pd

In [24]:
msft = yf.Ticker("MSFT")
# get all stock info
pd.DataFrame(msft.info)

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,returnOnEquity,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio
0,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
1,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
2,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
3,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
4,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
5,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
6,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
7,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
8,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718
9,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61997998080,110122999808,0.2,0.17,0.69894,0.5325,0.44588,USD,2.2718

In [4]:
hist = msft.history(period='max')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054693,0.062736,0.054693,0.060055,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060055,0.063272,0.060055,0.062199,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062199,0.063808,0.062199,0.063272,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063272,0.063808,0.061127,0.061663,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061663,0.062199,0.060055,0.060591,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2024-06-27 00:00:00-04:00,452.179993,456.170013,451.769989,452.850006,14806300,0.0,0.0
2024-06-28 00:00:00-04:00,453.070007,455.380005,446.410004,446.950012,28362300,0.0,0.0
2024-07-01 00:00:00-04:00,448.660004,457.369995,445.660004,456.730011,17662800,0.0,0.0
2024-07-02 00:00:00-04:00,453.200012,459.589996,453.109985,459.279999,13979800,0.0,0.0
2024-07-03 00:00:00-04:00,458.190002,461.019989,457.880005,460.769989,9932800,0.0,0.0

In [16]:
tencent= yf.Ticker("0700.HK")

In [25]:
pd.DataFrame(tencent.info).head(2)

,address1,address2,city,zip,country,phone,website,industry,industryKey,industryDisp,...,returnOnEquity,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio
0,Tencent Binhai Towers,No. 33 Haitian 2nd Road Nanshan District,Shenzhen,518054,China,86 75 5860 13388,https://www.tencent.com,Internet Content & Information,internet-content-information,Internet Content & Information,...,0.15278,143674867712,232015003648,0.662,0.063,0.49925,0.32084,0.3295,CNY,0.6699
1,Tencent Binhai Towers,No. 33 Haitian 2nd Road Nanshan District,Shenzhen,518054,China,86 75 5860 13388,https://www.tencent.com,Internet Content & Information,internet-content-information,Internet Content & Information,...,0.15278,143674867712,232015003648,0.662,0.063,0.49925,0.32084,0.3295,CNY,0.6699

In [26]:
tencent.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2004-06-16 00:00:00+08:00,0.761400,0.804908,0.709190,0.722241,2385268337,0.0,0.0
2004-06-17 00:00:00+08:00,0.722241,0.761400,0.717891,0.735294,454525756,0.0,0.0
2004-06-18 00:00:00+08:00,0.730944,0.739645,0.687435,0.700487,198501621,0.0,0.0
2004-06-21 00:00:00+08:00,0.713540,0.717891,0.687435,0.696137,123755710,0.0,0.0
2004-06-22 00:00:00+08:00,0.696137,0.696137,0.696137,0.696137,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-06-27 00:00:00+08:00,379.600006,380.000000,372.200012,374.399994,17513758,0.0,0.0
2024-06-28 00:00:00+08:00,371.600006,376.000000,370.799988,372.399994,15561097,0.0,0.0
2024-07-02 00:00:00+08:00,367.000000,376.200012,365.200012,369.200012,27266647,0.0,0.0
2024-07-03 00:00:00+08:00,366.799988,380.799988,366.799988,379.399994,22256951,0.0,0.0
2024-07-05 00:00:00+08:00,384.799988,385.600006,378.799988,379.799988,10522095,0.0,0.0

In [30]:
# 获取某个时间段的数据
data = yf.download("1810.HK", start="2020-01-01", end="2024-7-5")
data

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  10.860000  11.220000  10.780000  11.220000  11.220000  248889455
2020-01-03  11.200000  11.440000  10.900000  10.900000  10.900000  219547199
2020-01-06  10.720000  11.180000  10.640000  10.980000  10.980000  179639996
2020-01-07  11.060000  11.300000  10.920000  11.000000  11.000000  171287427
2020-01-08  10.820000  11.280000  10.820000  11.080000  11.080000  189314498
...               ...        ...        ...        ...        ...        ...
2024-06-26  17.580000  17.940001  17.540001  17.820000  17.820000   44582518
2024-06-27  17.540001  17.680000  16.340000  16.540001  16.540001  245670671
2024-06-28  16.379999  16.780001  16.360001  16.480000  16.480000   94102995
2024-07-02  16.500000  16.740000  16.360001  16.660000  16.660000   62421619
2024-07-03  16.660000  17.080000  16.660000  16.900000  16.900000   68480845

[1107 rows x 6 columns]